@media print{

	

}


@media screen{

	

	#about h2:hover{
		background-color: #87CEFA;
		color: white;
	}

	nav,.tm-content-box{
		box-shadow: -3px 3px 5px rgba(61, 55, 61, 0.7);
	}

	nav li:hover{
		background-color: #F5F5F5;
	}

	.tm-banner{
		background-color: #76cdd7;
		text-shadow: 3px 3px 2px #76cdd7;
		letter-spacing:2px;
		word-spacing :7px;
	}

	.tm-banner-inner{
		background-color: white;
	}

	.boxes{
		padding: 20px 5px 10px 5px;
	}

	ul.boxes.gallery-container p {
		font-style: italic;
		
	}

	ul.boxes.gallery-container {
		background-color: #F5F5F5;
		
	}

	li.box.box-work:nth-child(2n+1){
		background-color: white;
		margin-top: 5px;
	}

	li.box.box-work:nth-child(2n){
		background-color: #F5F5F5;
		margin-top: 5px;
	}


	.tm-content-box + h2{
		font-style: italic;
	}

	img.img-fluid{
		padding: 0px 5px 0px 5px;
	}

	div.flex-item.tm-team-img img{
		display: inline;
		float: right;
		width: 50%;
		height: 100%
	}

	div.padding-medium.flex-item.tm-team-description-container  {
		display: inline;
		float: left;
		width: 50%;
		text-align: center;
		position: absolute;
		padding-top: 150px;

	}

	.box-work p::first-letter {
    text-transform: uppercase;

  }

	div.padding-medium h2{
		text-align:center;
		color: #ABDCE0;
	}

	div.padding-medium ol{
		list-style: lower-roman;

	}
	div.padding-medium li a:visited{
		color: #ffb347 ;
		
	}
	div.padding-medium li a:hover{
		border-right: 5px #ffb347;
		
	}
}


